<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Server=f42dca51-ff5b-44b0-846d-a78700db6782.sqlserver.sequelizer.com;
         Initial Catalog=dbf42dca51ff5b44b0846da78700db6782;
         Persist Security Info=True;
         User ID=aifhjeejozomqbeb;
         Password=ykQeVsi7Wgy4hCAxu2WuEYxofS6AsZqZ82JRzmzPjoAoSppeBmiUoXEHVB8cuPM6;
         MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>