body, h1, h2, h3, h4, h5, h6 {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Karma", sans-serif;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.w3-bar-block .w3-bar-item {
    padding: 20px;
}

.nav navbar-nav li a {
    font-family: Jokerman;
}

.jumbotron h1 {
    font-family: "Jokerman";
    text-align: center;
}

.container ul li {
    font-family: Algerian;
    font-size: 20px;
}

.navbar-brand {
    font-size: 28px;
    font-family: 'Bauhaus 93';
}
